# Ignore Python virtual environments
tw/
venv/
*.pyc
__pycache__/

# Ignore environment files
.env

# Ignore database file (optional)
db

# Ignore static files collected by collectstatic (Render will create its own)
staticfiles/

# Ignore VSCode or IDE settings
.vscode/
.idea/
